<mat-card class="example-card" routerLink="/video-details/{{ video.id }}">
    <img mat-card-image [src]="video.thumbnailUrl" alt="{{ video.title }}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ video.title }}</mat-card-title>
      <mat-card-subtitle>{{ video.description }}</mat-card-subtitle>
      <mat-card-subtitle>{{ video.viewCount }} views</mat-card-subtitle>
      <mat-icon [routerLink]="['/edit-video-details', video.id]" style="cursor: pointer;" fxFlex="20%" fxLayoutAlign="end" aria-hidden="false" aria-label="Edit">edit</mat-icon>
      <mat-icon *ngIf="checkIsVideoUploadedByMe()" (click)="deleteVideo(video.id)" style="cursor: pointer;" fxFlex="20%" fxLayoutAlign="end" aria-hidden="false" aria-label="Delete">delete</mat-icon>
    </mat-card-header>

  </mat-card>
